
    <body class="bg-gray-100">
        <% if (locals.message && locals.message.length > 0)  { %>
            <div class="mb-5 flex items-center justify-between p-5 leading-normal text-green-600 bg-green-100 rounded-lg" role="alert">
                <p><%= message %></p>
                <button onclick="return this.parentNode.remove();">
                    <i class='bx bx-x text-green-600'></i>
                </button>
              </div>
        <% } %>
        
        <% if (locals.error && locals.error.length > 0)  { %>
            <div class="mb-5 flex items-center justify-between p-5 leading-normal text-red-600 bg-red-100 rounded-lg" role="alert">
                <p>
                    <%= error %>
                </p>
        
                <button onclick="return this.parentNode.remove();">
                    <i class='bx bx-x text-red-600'></i>
                </button>
            </div>
            
        <% } %>
        <div class="container mx-auto mt-10">
            <div class="max-w-md mx-auto bg-white p-5 rounded-md shadow">
                <h2 class="text-2xl font-semibold text-center mb-5">Chỉnh sửa danh mục</h2>
                <form action="<%= '/admin/category/edit/' + category.maDanhMuc %>" method="POST">
                    <div class="mb-4">
                        <label for="tenDanhMuc" class="block text-gray-700">Danh mục</label>
                        <input
                            type="text"
                            id="tenDanhMuc"
                            name="tenDanhMuc"
                            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                            value="<%= category.tenDanhMuc %>"
                            required
                        />
                    </div>
                    <div class="mb-4">
                        <label for="moTa" class="block text-gray-700">Mô tả</label>
                        <textarea
                            type="text"
                            id="moTa"
                            name="moTa"
                            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                        >
<%= category.moTa %></textarea
                        >
                    </div>
                    <div class="text-center">
                        <button
                            type="submit"
                            class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        >
                            Cập nhật
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
