<div class="container mt-[83px]">
    <div>
        <!-- Breadcumbs -->
        <div class="breadcrumbs text-sm mb-5">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/">Danh sách sản phẩm</a></li>
                <li><%= product ? product.tenSanPham : "Unknown Name" %></li>
            </ul>
        </div>
    </div>
    <div class="grid grid-cols-12 mt-5 gap-10">
        <section class="col-span-7">
            <div class="swiper swiper-product-images [&_.swiper-slide]:rounded-2xl">
                <div class="swiper-wrapper h-[500px]">
                    <% if (product && product.danhSachHinhAnh.length > 0) { %>
                        <% product.danhSachHinhAnh.forEach((image, index) => { %>
                            <div class="swiper-slide">
                                <img
                                    class="object-cover h-full w-full rounded-2xl"
                                    src="<%= image %>"
                                    alt=""
                                />
                            </div>
                        <% }) 
                    } %>
                        
                    <!-- <div class="swiper-slide">
                        <img
                            class="object-cover h-full w-full rounded-2xl"
                            src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/b7d9211c-26e7-431a-ac24-b0540fb3c00f/AIR+FORCE+1+%2707.png"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            class="object-cover h-full w-full rounded-2xl"
                            src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/3cc96f43-47b6-43cb-951d-d8f73bb2f912/AIR+FORCE+1+%2707.png"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            class="object-cover h-full w-full rounded-2xl"
                            src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/ef92df87-6098-4fa5-bc88-7107492febcf/AIR+FORCE+1+%2707.png"
                            alt=""
                        />
                    </div> -->
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
        <section class="col-span-5">
            <div>
                <h1 class="text-3xl font-bold"><%= product ? product.tenSanPham : "Unknown Name" %></h1>
                
                <p class="mt-2 text-gray-500"><%= product ? product.moTaSanPham : "Unknown Description" %></p>

                <div class="mt-5">
                    <h2 class="text-lg font-semibold mb-2">Kích cỡ</h2>
                    <ul class="grid grid-cols-4 gap-3">
                        <% if (product && product.danhSachKichCo.length > 0) { %>
                            <% product.danhSachKichCo.forEach((size, index) => { %>
                                <li class="text-center border p-2 rounded-xl">
                                    <p class="font-semibold mb-2"><%= size.maKichCo.tenKichCo %></p>

                                    <span>
                                        <%= formatVNCurrency(size.giaKichCo) %>
                                    </span>
                                </li>
                            <% }) 
                        } %>
                    </ul>
                </div>

                <p class="mt-5">
                    <span class="text-lg font-semibold">Giá mua:</span> &nbsp;
                    <span class="text-xl font-bold text-primary ">
                        9.000.000 đ
                    </span>
                </p>

                <div>
                    <button class="mt-5 w-full bg-primary text-white py-3 rounded-full font-semibold">
                        Thêm vào giỏ hàng
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".swiper-product-images", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
