<div class="container">
    <div class="breadcrumbs text-sm mb-7">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li>Danh sách sản phẩm</li>
        </ul>
    </div>
    <div class="grid grid-cols-12 gap-10">
        <!-- Sidebar filter -->
        <section class="col-span-3">
            <div class="sticky top-[74px]">
                <form id="filter-form" action="/product" method="get">
                    <div>
                        <input hidden type="text" name="name" value="<%= filters && filters.name ? filters.name : "" %>" />
                    </div>
                   
                    <div id="filter-inputs" class="join join-vertical w-full">
                        <!-- Category -->
                        <div class="collapse collapse-arrow join-item border-base-300 border-b">
                            <input type="checkbox" name="categoryAccordion" checked="checked"/>
                            <div class="collapse-title text-base font-medium">Danh mục</div>
                            <div class="collapse-content">
                                <ul>
                                    <% if (categories && categories.length > 0) { %>
                                        <% categories.forEach(category => { %>
                                            <li class="flex items-center gap-2 mb-3">
                                                <input type="checkbox" 
                                                    id="category-<%= category.maDanhMuc %>" 
                                                    name="category[]" 
                                                    value="<%= category._id %>" 
                                                    class="checkbox checkbox-sm [--chkbg:#0578f8]" 
                                                    <% if (filters.category && filters.category.includes(category._id.toString())) { %> 
                                                       checked <% } %> 
                                                 />
                                                <label class="cursor-pointer" for="category-<%= category.maDanhMuc %>">
                                                    <%= category.tenDanhMuc %>
                                                </label>
                                            </li>
                                        <% }) %>
                                    <% } else { %>
                                        <li class="mb-3">Không có danh mục nào.</li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="collapse collapse-arrow join-item border-base-300 border-b">
                            <input type="checkbox" name="brandAccordion" <%= filters?.brandAccordion === "on" ? "checked" : "" %> />
                            <div class="collapse-title text-base font-medium">Hãng</div>
                            <div class="collapse-content">
                                <ul>
                                    <% if (brands && brands.length > 0) { %>
                                        <% brands.forEach(brand => { %>
                                            <li class="flex items-center gap-2 mb-3">
                                                <input type="checkbox" 
                                                    id="brand-<%= brand.maHangSanXuat %>" 
                                                    name="brand[]" 
                                                    value="<%= brand._id %>" 
                                                    class="checkbox checkbox-sm [--chkbg:#0578f8]" 
                                                       <% if (filters.brand && filters.brand.includes(brand._id.toString())) { %> 
                                                       checked <% } %> />
                                                <label class="cursor-pointer" for="brand-<%= brand.maHangSanXuat %>">
                                                    <%= brand.tenHangSanXuat %>
                                                </label>
                                            </li>
                                        <% }) %>
                                    <% } else { %>
                                        <li class="mb-3">Không có hãng nào.</li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="collapse collapse-arrow join-item border-base-300 border-b">
                            <input type="checkbox" name="sizeAccordion" <%= filters?.sizeAccordion === "on" ? "checked" : "" %> />
                            <div class="collapse-title text-base font-medium">Kích cỡ</div>
                            <div class="collapse-content">
                                <ul class="flex flex-wrap gap-5">
                                    <% if (sizes && sizes.length > 0) { %>
                                        <% sizes.forEach(size => { %>
                                            <li class="flex items-center gap-2">
                                                <input type="checkbox" 
                                                    id="size-<%= size.maKichCo %>" 
                                                    name="size[]" 
                                                    value="<%= size._id %>" 
                                                    class="checkbox checkbox-sm [--chkbg:#0578f8]"
                                                    <% if (filters.size && filters.size.includes(size._id.toString())) { %> 
                                                    checked <% } %>/>
                                                <label class="cursor-pointer" for="size-<%= size.maKichCo %>">
                                                    <%= size.tenKichCo %>
                                                </label>
                                            </li>
                                        <% }) %>
                                    <% } else { %>
                                        <li>Không có kích cỡ nào.</li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="collapse collapse-arrow join-item border-base-300 border-b">
                            <input type="checkbox" name="priceAccordion" <%= filters?.priceAccordion === "on" ? "checked" : "" %> />
                            <div class="collapse-title text-base font-medium">Giá</div>
                            <div class="collapse-content">
                                <div class="flex items-center justify-between gap-4">
                                    <input
                                        id="price-from"
                                        type="text"
                                        placeholder="Từ"
                                        class="input input-bordered w-full max-w-xs input-sm"
                                    />
                                    <input type="text" hidden name="minPrice" value="<%= filters.minPrice %>">
                                    <input type="text" hidden name="maxPrice" value="<%= filters.maxPrice %>">
    
                                    <input
                                        id="price-to"
                                        type="text"
                                        placeholder="Đến"
                                        class="input input-bordered w-full max-w-xs input-sm"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn bg-primary text-white hover:bg-primary rounded-xl w-full">
                        <i class="bx bx-filter-alt"></i>
                        &nbsp; Lọc
                    </button>
                    <a href="/product" class="btn rounded-xl w-full mt-4">
                        Hủy lọc
                    </a>
                </form>
            </div>
        </section>

        <!-- Products -->
        <section class="col-span-9">
            <div class="flex justify-between items-center mb-5">
                <h1 class="text-2xl font-bold">Sản phẩm</h1>

                <form id="search-form" class="input input-bordered flex items-center gap-2 rounded-full">
                    <input type="search" class="grow" placeholder="Tìm kiếm sản phẩm" name="search" value="<%= filters && filters.name ? filters.name : "" %>" />
                    <button class="btn btn-sm rounded-full">Tìm kiếm</button>
                </form>
            </div>

            <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
                <% if (products && products.length > 0) { %>
                    <% products.forEach(product => { %>
                        <a href="/product/<%= product.maSanPham %>" class="group">
                            <div
                                class="aspect-h-1 aspect-w-1 w-full min-h-[300px] max-h-[300px] overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
                            >
                                <img
                                    src="<%= product.danhSachHinhAnh[0] %>"
                                    alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                                    class="h-full w-full object-cover object-center group-hover:opacity-75"
                                />
                            </div>
                            <h3 class="mt-4 text-lg truncate max-w-full"><%= product.tenSanPham %></h3>
                            
                        </a>
                    <% }) %>
                <% } %>
                
                
            </div>

            <% if (products.length === 0) { %>
                <div class="flex justify-center">
                    <div>
                        <img class="size-40" src="/images/no-result.png" alt="">
                        <p>Không có sản phẩm nào.</p>
                    </div>
                </div>
            <% } %>

            <!-- Pagination -->
             <% if (totalPages > 1) { %>
                <nav class="mt-10 flex justify-center">
                    <ul class="list-style-none flex">
                        <li>
                            <% var previousURL = "?" + new URLSearchParams({ ...filters, page: currentPage - 1 }).toString() %>
                            
                            <a href="<%= currentPage > 1 ? previousURL : "#" %>"
                                class="<%= currentPage === 1 ? 'pointer-events-none' : '' %> relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface/50 transition duration-300 dark:text-neutral-400">
                                Trang trước
                             </a>
                        </li>
                        
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <a href="?<%= new URLSearchParams({ ...filters, page: i }).toString() %>"
                               class="<%= currentPage == i ? 'bg-primary text-white' : 'text-black bg-transparent' %> relative block rounded px-3 py-1.5 text-sm text-surface transition duration-300 hover:opacity-80">
                                <%= i %>
                            </a>
                        <% } %>
                       
                        <% var nextURL = "?" + new URLSearchParams({ ...filters, page: currentPage + 1 }).toString()  %>
                        <a href="<%= currentPage < totalPages ? nextURL: '#' %>"
                            class="<%= currentPage === totalPages ? 'pointer-events-none' : '' %> relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface/50 transition duration-300 dark:text-neutral-400">
                             Trang sau
                         </a>
                    </ul>
                </nav>
            <% } %>
        </section>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        
        const priceFromInput = document.getElementById('price-from');
        const priceToInput = document.getElementById('price-to');
        const minPriceInput = document.querySelector('input[name="minPrice"]');
        const maxPriceInput = document.querySelector('input[name="maxPrice"]');

        const categoryInput = document.querySelector('input[name="category"]');
        const brandInput = document.querySelector('input[name="brand"]');
        const sizeInput = document.querySelector('input[name="size"]');

        const productNameInput = document.querySelector('input[name="name"]');
        const searchInput = document.querySelector('input[name="search"]');

        const filterForm = document.getElementById('filter-form');
        const searchForm = document.getElementById('search-form');

        searchInput.addEventListener('change', function() {
            productNameInput.value = searchInput.value.trim();
        });

        searchInput.addEventListener("search", function() {
            if (this.value.trim() === "") {
                productNameInput.value = "";
                searchForm.submit();
            }
        });


        searchForm.addEventListener('submit', function(e) {
            e.preventDefault();
            filterForm.submit();
        });

        // Price input range

        function formatVNCurrency() {
            let value = this.value.replace(/[^0-9]/g, '');
            const numericValue = Number(value);

            if (isNaN(numericValue)) {
                this.value = ''; 
                minPriceInput.value = ''; 
                maxPriceInput.value = ''; 
                return;
            } 

            this.value = numericValue.toLocaleString("vi-VN", {
                style: "currency",
                currency: "VND",
            }).replace('₫', '').trim();

            if (this.id === 'price-from') {
                minPriceInput.value = numericValue;
            } else {
                maxPriceInput.value = numericValue;
            }
            

        }
        
        priceFromInput.addEventListener('input', formatVNCurrency);
        priceToInput.addEventListener('input', formatVNCurrency);

        // Render price input 
        priceFromInput.value = minPriceInput.value ? Number(minPriceInput.value).toLocaleString("vi-VN", {
            style: "currency",
            currency: "VND",
        }).replace('₫', '').trim() : '';

        priceToInput.value = maxPriceInput.value ? Number(maxPriceInput.value).toLocaleString("vi-VN", {
            style: "currency",
            currency: "VND",
        }).replace('₫', '').trim() : '';


    })
</script>