<div class="relative">
    <header id="header" class="fixed top-0 left-0 right-0 z-10 bg-white">
        <div class="container flex justify-between items-center py-4">
            <a href="/" class="flex items-center gap-4">
                <img class="size-10" src="/images/logo.png" alt="" />
                <h1 class="font-bold text-xl text-primary">Shoes Shop</h1>
            </a>
    
            <ul class="flex items-center justify-between h-16 [&_li]:cursor-pointer">
                <li class="rounded-full px-3 text-black <%= locals.currentPath === '/' ? 'bg-[#E4E4E7]' : '' %>">
                    <a href="/">Trang chủ</a>
                </li>
                <li class="rounded-full px-3 text-black <%= locals.currentPath.includes('/product') ? 'bg-[#E4E4E7]' : '' %>">
                    <a href="/product">Sản phẩm</a>
                </li>
                <li class="px-3 text-black group">
					<a href="/product" class="flex items-center">Khám phá  <i class="bx bx-chevron-down"></i>
					</a>
					<div class="absolute left-0 top-[80%] w-screen hidden group-hover:block before:absolute before:top-[-20px] before:h-16 before:w-full">
					  <div class="bg-white shadow-lg">
						<div class="container mx-auto px-4 py-8">
						  <div class="grid grid-cols-5 gap-x-8 gap-y-10">
							<div class="col-span-1">
							  	<h3 class="text-lg font-semibold text-gray-900 mb-4">Danh mục</h3>
							  	<div class="space-y-2">
								  <% if (locals?.categoriesHeader && categoriesHeader.length > 0)  { %>
									  <% categoriesHeader.forEach((category) => { %>
										  <div>
											  <a href="/product?category[]=<%= category.maDanhMuc %>" class="text-gray-700 hover:text-gray-900">
												  <%= category.tenDanhMuc %>
											  </a>
										  </div>
									  <% }) %>
								  <%  } else { %>
									  <div>
										  <a href="#" class="text-gray-700 hover:text-gray-900">Không có danh mục</a>
									  </div>
								  <% } %>
  
								</div>
							</div>
							<div class="col-span-1">
							  <h3 class="text-lg font-semibold text-gray-900 mb-4">Hãng</h3>
							  	<div class="space-y-2">
								  
								  <% if (locals?.brandsHeader && brandsHeader.length > 0)  { %>
									  <% brandsHeader.forEach((brand) => { %>
										  <div>
											  <a href="/product?brand=<%= brand.maHangSanXuat %>" class="text-gray-700 hover:text-gray-900">
												  <%= brand.tenHangSanXuat %>
											  </a>
										  </div>
									  <% }) %>
								  <%  } else { %>
									  <div>
										  <a href="#" class="text-gray-700 hover:text-gray-900">Không có danh mục</a>
									  </div>
								  <% } %>
  
								</div>
							</div>
							<div class="col-span-2">
							  	<h3 class="text-lg font-semibold text-gray-900 mb-4">Sản phẩm nổi bật</h3>
								<div class="grid grid-cols-2 gap-4">
									  <% if (locals?.featuredProductsHeader && featuredProductsHeader.length > 0)  { %>
										  <% featuredProductsHeader.slice(0, 2).forEach((product) => { %>
											  <a href="#" class="group">
												  <div class="aspect-w-1 aspect-h-1 min-h-[200px] max-h-[200px] rounded-lg overflow-hidden">
													<img src="<%= product.hinhAnhDaiDien || "/images/no-result.png" %>" />
												  </div>
												  <h4 class="mt-2 text-sm text-gray-700">
													  <%= product.tenSanPham %>
												  </h4>
											  </a>
										  <% }) %>
									  <%  } else { %>
										  <div>
											  <a href="#" class="text-gray-700 hover:text-gray-900">Không có sản phẩm</a>
										  </div>
									  <% } %>
									
								</div>
							</div>
							<div class="col-span-1">
							  <h3 class="text-lg font-semibold text-gray-900 mb-4">Ưu đãi</h3>
							  <a href="#" class="block rounded-xl overflow-hidden">
								<img src="/images/sneaker-banner.jpg" alt="Promo Image" class="w-full h-auto object-center object-cover" />
								<div class="bg-gray-900 bg-opacity-75 p-4">
								  <h4 class="text-white text-lg font-semibold">Summer Sale</h4>
								  <p class="text-white mt-2">Up to 50% off on selected items</p>
								</div>
							  </a>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </li>
                <li><a href="#" class="hover:text-gray-800 px-3 text-black  <%= locals.currentPath.includes('/about') ? 'bg-[#E4E4E7]' : '' %>">Về chúng tôi</a></li>
                <li><a href="#" class="hover:text-gray-800 px-3 text-black">Liên hệ</a></li>
            </ul>
    
            <div
                class="relative text-base flex items-center gap-3 rounded-full py-1 ps-3 pe-2 transition-all duration-300 ease-in"
            >
                <a id="search-icon" href="javascript:void(0);" class="text-2xl">
                    <i id="search-icon-inner" class="bx bx-search"></i>
                </a>
    
                <a id="cart-icon" class="relative text-2xl" href="/cart">
                    <i class="bx bx-cart-alt"></i>
    
                    <span
                        class="absolute top-[-10px] right-[-10px] flex justify-center items-center bg-danger text-white rounded-full text-sm size-5"
                        >0</span
                    >
                </a>
                <input id="search-input" class="hidden outline-none" placeholder="Tìm kiếm sản phẩm" type="text" />
    
                <% if (locals?.session?.customer) { %>
                    <div  class="group/customer relative">
                        <img
                            id="current-user-avatar"
                            class="w-8 h-8 rounded-full cursor-pointer"
                            src="<%= session.customer.anhDaiDien %>"
                            alt="Rounded Avatar"
                        />
                        <div class="absolute overflow-hidden right-0 w-48 bg-white border border-gray-200 rounded-xl shadow-lg opacity-0 invisible transition-opacity duration-300 ease-in-out group-hover/customer:opacity-100 group-hover/customer:visible">
                            <a href="/user/profile" class="flex items-center gap-2 px-4 py-2 text-neutral-600 hover:bg-gray-100">
                                <i class='bx bx-user'></i>
                                Trang cá nhân
                            </a>
                            <a href="/auth/logout" class="flex items-center gap-2 px-4 py-2 text-red-500 hover:bg-gray-100">
                                <i class='bx bx-log-out'></i>
                                Đăng xuất
                            </a>
                        </div>
                    </div>
                    
                <% } %>
    
                <% if (!locals?.session?.customer) { %>
                    <a
                        id="sign-in-btn"
                        class="inline-block rounded-full px-3 py-1 text-sm bg-[#E4E4E7] text-black focus:outline-none focus:ring"
                        href="/auth/login"
                    >
                        Đăng nhập
                    </a>
                <% } %>
                 
                <button
                    id="search-btn"
                    class="hidden btn-circle btn btn-sm focus:outline-none focus:ring"
                >
                    <i id="close-icon" class='bx bx-x relative top-[1px]'></i>
                </button>

                <!-- Search result -->
                <ul id="search-result" class="absolute hidden top-full right-0 w-full border bg-white max-h-[340px] overflow-y-auto scrollbar rounded-xl shadow-lg py-3">
                    <li class="mb-3 last:mb-0">
                        <a href="" class="group flex items-center gap-2 px-3 mb-3 last:mb-0">
                            <img class="w-10 h-10 rounded-xl object-contain border" src="https://images.stockx.com/360/Air-Jordan-1-Retro-High-Travis-Scott/Images/Air-Jordan-1-Retro-High-Travis-Scott/Lv2/img01.jpg?auto=compress&w=576&dpr=1&updated_at=1635191289&h=384&fm=avif&q=57" alt="">
                            <h3 class="flex-1 text-sm truncate max-w-full group-hover:text-primary">
                                Air Jordan 1 Retro High Travis Scott
                            </h3>
                        </a>
                       
                    </li>
                    <li class="mb-3 last:mb-0">
                        <a href="" class="group flex items-center gap-2 px-3 mb-3 last:mb-0">
                            <img class="w-10 h-10 rounded-xl object-contain border" src="https://images.stockx.com/360/Air-Jordan-1-Retro-High-Travis-Scott/Images/Air-Jordan-1-Retro-High-Travis-Scott/Lv2/img01.jpg?auto=compress&w=576&dpr=1&updated_at=1635191289&h=384&fm=avif&q=57" alt="">
                            <h3 class="flex-1 text-sm truncate max-w-full group-hover:text-primary">
                                Air Jordan 1 Retro High Travis Scott
                            </h3>
                        </a>
                       
                    </li>
                    <li class="mb-3 last:mb-0">
                        <a href="" class="group flex items-center gap-2 px-3">
                            <img class="w-10 h-10 rounded-xl object-contain border" src="https://images.stockx.com/360/Air-Jordan-1-Retro-High-Travis-Scott/Images/Air-Jordan-1-Retro-High-Travis-Scott/Lv2/img01.jpg?auto=compress&w=576&dpr=1&updated_at=1635191289&h=384&fm=avif&q=57" alt="">
                            <h3 class="flex-1 text-sm truncate max-w-full group-hover:text-primary">
                                Air Jordan 1 Retro High Travis Scott
                            </h3>
                        </a>
                       
                    </li>
                </ul>
                
            </div>
        </div>
    </header>
</div>

<script>
    document.addEventListener("DOMContentLoaded", async () => {
        const cartIcon = document.getElementById("cart-icon");
        const cartBadge = cartIcon.querySelector("span");

        // Send request to get cart items
        const response = await fetch("/cart/api/total", {
            method: "GET",
            credentials: "include"  // Đảm bảo cookie hoặc thông tin xác thực được gửi
        });

        if (!response.ok) {
            return;
        }

        const data = await response.json();
        const totalItems = data?.totalItems;
        
        // Render total items and if greater than 99, show 99+
        if (totalItems > 99) {
            cartBadge.innerText = "99+";
        } else {
            cartBadge.innerText = totalItems;
        }
        
    })
</script>

<!-- Search -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const searchInput = document.getElementById("search-input");
        const searchResults = document.getElementById("search-result");
        const searchIcon = document.getElementById("search-icon");
        const closeIcon = document.getElementById("close-icon");


        searchIcon.addEventListener("click", () => {
            // Nếu search result đang hiển thị thì ẩn đi
            if (!searchResults.classList.contains("hidden")) {
                searchResults.classList.add("hidden");
            }
        });

        // Hàm debounce
        function debounce(func, delay) {
            let timeout;
            return function (...args) {
                clearTimeout(timeout);
                timeout = setTimeout(() => func.apply(this, args), delay);
            };
        }

        // Hàm fetch dữ liệu tìm kiếm
        async function fetchSearchResults(query) {
            if (!query.trim()) {
                searchResults.innerHTML = ""; // Xóa kết quả khi input rỗng
                searchResults.classList.add("hidden");
                return;
            }

            // Hiển thị loader
            closeIcon.classList.remove("bx-x");
            closeIcon.classList.add("bx-loader-alt", "animate-spin");

            try {
                const response = await fetch(`/product/api/search?search=${encodeURIComponent(query)}`);
                if (!response.ok) throw new Error("Lỗi khi lấy kết quả tìm kiếm!");

                const results = await response.json();
                displayResults(results);
            } catch (error) {
                console.error(error);
            } finally {
                // Ẩn loader
                closeIcon.classList.remove("bx-loader-alt", "animate-spin");
                closeIcon.classList.add("bx-x");
            }
        }

        // Hàm hiển thị kết quả tìm kiếm
        function displayResults(data) {
            searchResults.innerHTML = ""; // Xóa kết quả cũ
            searchResults.classList.remove("hidden");
            const results = data?.products;

            if (results.length === 0) {
                searchResults.innerHTML = `<li class="px-3 py-2 text-gray-500 text-center">Không tìm thấy sản phẩm nào</li>`;
                return;
            }

            results.forEach((item) => {
                const resultItem = document.createElement("li");
                resultItem.classList.add("mb-3", "last:mb-0");

                resultItem.innerHTML = `
                    <a href="/product/${item.maSanPham}" class="group flex items-center gap-2 px-3">
                        <img class="w-10 h-10 rounded-xl object-contain border" src="${item.hinhAnhDaiDien || '/images/no-result.png'}" alt="${item.tenSanPham}">
                        <h3 class="flex-1 text-sm truncate max-w-full group-hover:text-primary">
                            ${item.tenSanPham}
                        </h3>
                    </a>
                `;

                searchResults.appendChild(resultItem);
            });
        }

        // Lắng nghe sự kiện nhập liệu, sử dụng debounce
        searchInput.addEventListener(
            "input",
            debounce((event) => {
                const query = event.target.value;
                fetchSearchResults(query);
            }, 500)
        );

    })
</script>