<div>
    <div class="flex justify-between items-center mb-5">
        <h3 class="text-xl font-bold mb-5">Thêm mới sản phẩm</h3>
    </div>

    <div>
        <form id="create-product-form" action="">
            <div class="grid grid-cols-12 gap-5">
                <div class="col-span-8">
                    <section>
                        <label class="form-control w-full max-w-full mb-4">
                            <div class="label">
                                <span class="label-text">Nhập tên sản phẩm</span>
                            </div>
                            <input id="name" type="text" class="input input-bordered w-full max-w-full" />
                        </label>
                    </section>
                </div>
                <div class="col-span-4">
                    <section>
                        <label class="form-control w-full">
                            <div class="label">
                                <span class="label-text">Chọn hãng sản xuất</span>
                            </div>
                            <select name="brand" class="select select-bordered">
                                <% if (brands && brands.length > 0) { %>
                                    <% brands.forEach(brand => { %>
                                        <option value="<%= brand.maHangSanXuat %>"><%= brand.tenHangSanXuat %></option>
                                    <% }) 
                                }%>
                            </select>
                        </label>
                    </section>
                </div>
            </div>
            <label class="form-control mb-5">
                <div class="label">
                    <span class="label-text">Nhập mô tả sản phẩm</span>
                </div>
                <textarea name="description" id="description" class="textarea textarea-bordered h-24"></textarea>
            </label>

            <section class="mt-10">
                <p class="mb-5">Chọn danh mục cho sản phẩm</p>
                <ul>
                    <% if (categories && categories.length > 0) { %>
                        <% categories.forEach(category => { %>
                            <li class="flex items-center gap-2 mb-3">
                                <input type="checkbox" 
                                    id="category-<%= category.maDanhMuc %>" 
                                    name="category[]" 
                                    value="<%= category.maDanhMuc %>" 
                                    class="checkbox checkbox-sm [--chkbg:#0578f8]" 
                                />
                                <label class="cursor-pointer" for="category-<%= category.maDanhMuc %>">
                                    <%= category.tenDanhMuc %>
                                </label>
                            </li>
                        <% }) %>
                    <% } else { %>
                        <li class="mb-3">Không có danh mục nào.</li>
                    <% } %>
                </ul>
            </section>

            <section class="mt-10">
                <p class="mb-5">Chọn hình ảnh</p>
                <ul id="upload-images" class="grid grid-cols-4 gap-5">
                    <input id="product-image-files" hidden type="file" accept="image/png, image/jpeg" multiple />
                    <label
                        for="product-image-files"
                        class="cursor-pointer border-2 border-dashed rounded-2xl border-primary h-full flex justify-center items-center py-5"
                    >
                        <div>
                            <div class="btn bg-primary text-white hover:bg-primary btn-circle mb-5 mx-auto text-xl">
                                <i class="bx bx-plus"></i>
                            </div>

                            <p class="text-primary">Thêm hình ảnh</p>
                        </div>
                    </label>
                </ul>
            </section>

            <section class="mt-14">
                <button class="w-full btn btn-lg bg-primary text-white hover:bg-primary rounded-xl">
                    Tạo sản phẩm
                </button>
            </section>
        </form>
    </div>
</div>

<script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
<script>
    const validation = new JustValidate("#create-product-form");

    validation
        .addField("#name", [
            {
                rule: "required",
                errorMessage: "Tên sản phẩm là bắt buộc",
            },
            {
                rule: "maxLength",
                value: 255,
                errorMessage: "Tên sản phẩm không được vượt quá 255 ký tự",
            },
        ])
        .addField("#description", [
            {
                rule: "required",
                errorMessage: "Mô tả sản phẩm là bắt buộc",
            },
        ]);

    validation.onSuccess((event) => {
        event.target.submit(); // Gửi form khi không có lỗi
    });
</script>

<script>
    const productImageInputFiles = document.getElementById("product-image-files");
    const productImageUploads = document.getElementById("upload-images");

    const fileListTransfer = new DataTransfer();

    const renderImageFiles = (files) => {
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();

            reader.onload = (e) => {
                const img = document.createElement("img");
                img.src = e.target.result;

                const li = document.createElement("li");
                li.innerHTML = `
                    <div class="preview-image relative group border rounded-2xl">
                        <div class="aspect-h-1 aspect-w-1 w-full min-h-[300px] max-h-[300px] overflow-hidden rounded-2xl xl:aspect-h-8 xl:aspect-w-7">
                            <img src="${e.target.result}" class="h-full w-full object-cover object-center group-hover:opacity-75" />
                        </div>
                        <button type="button" class="btn-remove-preview-image btn btn-circle btn-sm absolute top-2 right-2 bg-white bg-opacity-50 rounded-full">
                            <i class="bx bx-x"></i>
                        </button>
                    </div>
                `;

                productImageUploads.appendChild(li);

                li.querySelector(".btn-remove-preview-image").addEventListener("click", (event) => {
                    const index = Array.from(productImageUploads.children).indexOf(li);
                    fileListTransfer.items.remove(index); // Xóa file khỏi DataTransfer
                    li.remove(); // Xóa hình ảnh khỏi giao diện

                    // Cập nhật lại input với các file còn lại
                    productImageInputFiles.files = fileListTransfer.files;
                });
            };

            reader.readAsDataURL(file);
        }
    };

    productImageInputFiles.addEventListener("change", (event) => {
        const files = event.target.files;

        for (let i = 0; i < files.length; i++) {
            fileListTransfer.items.add(files[i]);
        }

        productImageInputFiles.files = fileListTransfer.files;

        renderImageFiles(files);
    });
</script>
