<!-- Using layout -->
<div class="container">
    <div class="text-center uppercase text-3xl font-semibold mt-8 mb-8">
        <h1 class="text-primary">Phiếu Nhập</h1>
    </div>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-2 text-lg ">
        <div class="m-auto">
            <div class="mb-5">
                <label for="" class="inline-block ms-5 me-5 min-w-32 font-semibold">Nhà cung cấp</label>
                <select name="" id="supplierSelect" class="w-[400px] outline-none border rounded-lg py-1 px-2">
                    <option value="null">-- Lựa chọn nhà cung cấp --</option>
                    <% data.suppliers.forEach(supplier => { %>
                        <option value="<%- supplier.maNhaCungCap %>"><%- supplier.tenNhaCungCap %></option>
                    <% }) %>
                </select>
            </div>
            <div class="mb-5">
                <label for="" class="inline-block ms-5 me-5 min-w-32 font-semibold">Tên sản phẩm</label>
                <select name="" id="productSelect" class="w-[400px] outline-none border rounded-lg py-1 px-2">
                    <option value="null">-- Lựa chọn sản phẩm --</option>
                    <% data.products.forEach(product => { %>
                        <option value="<%- product._id %>"><%- product.tenSanPham %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="border-2 rounded min-h-[407px]">
            <div class="p-5">
                <div id="product_name" class="text-xl font-bold text-center">Tên sản phẩm...</div>
                <div class="flex justify-end">
                    <label for="same-entry-price" class="ms-5 me-5">Sử dụng cùng một giá</label>
                    <input type="checkbox" name="" id="same-entry-price" class="">
                </div>
                <div class="mt-3">
                    <div class="grid grid-cols-3 gap-2 text-center">
                        <h2 class="text-lg font-semibold mb-2">Size</h2>
                        <h2 class="text-lg font-semibold mb-2">Số Lượng</h2>
                        <h2 class="text-lg font-semibold mb-2">Giá Nhập</h2>
                    </div>
                    <div id="product_size_price">
                        <div class="grid grid-cols-3 gap-2">
                            <div class="flex mt-2 mb-2 m-auto">
                                <input type="checkbox" name="" id="product-id" class="product-checkbox hidden peer">
                                <label for="product-id" class="text-center border py-1 px-2 rounded-lg peer-checked:bg-primary peer-checked:text-white">Size</label>
                            </div>
                            <div class="mt-2 mb-2 m-auto">
                                <input type="text" name="" id="" class="w-20 border-2 rounded outline-none py-1 px-2">
                            </div>
                            <div class=" mt-2 mb-2 m-auto">
                                <input type="text" name="" id="" class="w-32 border-2 rounded outline-none py-1 px-2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <button id="add_to_list" class="my-5 m-auto bg-primary text-white py-3 px-5 rounded-full font-semibold">
                        Thêm vào danh sách
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="border-2 rounded">
        <div class="min-h-[500px]">
            <div class="p-5">
                <h1 class="text-2xl font-bold text-center">Danh Sách Thông Tin</h1>
                <table id="product_item_table" class="min-w-full table-fixed border-collapse">
                    <thead class="text-center">
                        <th class="border-2 w-[30%] px-2 py-4">Tên Sản Phẩm</th>
                        <th class="border-2 w-[15%] px-2 py-4">Số Lượng</th>
                        <th class="border-2 w-[30%] px-2 py-4">Danh Sách Size</th>
                        <th class="border-2 w-[15%] px-2 py-4"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center border-2 w-[30%] px-2 py-4"></td>
                            <td class="text-center border-2 w-[10%] px-2 py-4"></td>
                            <td class="border-2 w-[30%] px-2 py-4"></td>
                            <td class="text-center border-2 w-[10%] px-2 py-4"><i onclick="removeProduct()" class='text-red-600 text-xl bx bxs-trash'></i></td>
                        </tr>
                    </tbody>
                </table>
                <div class="flex">
                    <button id="import-data" class="my-5 m-auto bg-primary text-white py-3 px-5 rounded-full font-semibold">
                        Nhập phiếu
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('goods-receipt-scripts') %>