<div>
    
    <% if (locals.message && locals.message.length > 0)  { %>
        <div class="mb-5 flex items-center justify-between p-5 leading-normal text-green-600 bg-green-100 rounded-lg" role="alert">
            <p><%= message %></p>
        
            <button onclick="return this.parentNode.remove();">
                <i class='bx bx-x text-green-600'></i>
            </button>
          </div>
    <% } %>

    <% if (locals.error && locals.error.length > 0)  { %>
        <div class="mb-5 flex items-center justify-between p-5 leading-normal text-red-600 bg-red-100 rounded-lg" role="alert">
            <p>
                <%= error %>
            </p>

            <button onclick="return this.parentNode.remove();">
                <i class='bx bx-x text-red-600'></i>
            </button>
        </div>
        
    <% } %>

    <div class="flex justify-between items-center mb-5">
        <h3 class="text-xl font-bold mb-5">Danh sách sản phẩm</h3>

        <a href="/admin/product/create" class="btn bg-primary text-white hover:bg-primary rounded-xl">
            <i class="bx bx-plus"></i>
            Thêm sản phẩm
        </a>
    </div>

    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Hãng sản xuất</th>
                    <th>Danh mục</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <% products && products.forEach(product => { %>
                    <tr>
                        <td><%= product.maSanPham %></td>
                        <td>
                            <div class="flex items-center gap-3">
                                <div class="avatar">
                                    <div class="h-12 w-12">
                                        <img
                                            class="!object-contain"
                                            src="<%= product.hinhAnhDaiDien || '/images/no-result.png' %>"
                                            alt="<%= product.tenSanPham %>"
                                        />
                                    </div>
                                </div>
                                <div>
                                    <div class="font-semibold"><%= product.tenSanPham %></div>
                                    <div class="text-sm opacity-50"><%= product.moTaSanPham.substring(0, 50) %>...</div> <!-- Show a short description -->
                                </div>
                            </div>
                        </td>
                        <td><%= product.maHangSanXuat.tenHangSanXuat %></td>
                        <td>
                            <% product.danhSachDanhMuc.forEach(category => { %>
                                <span class="badge badge-ghost badge-sm"><%= category.tenDanhMuc %></span>
                            <% }) %>
                        </td>
                        <th class="flex items-center gap-3">
                            <a href="/admin/product/edit/<%= product.maSanPham %>" class="btn btn-ghost btn-sm">
                                <i class="bx bx-edit"></i>
                            </a>
                            <a href="/admin/product/delete/<%= product.maSanPham %>" class="btn btn-ghost hover:bg-red-500 hover:text-white btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?');">
                                <i class="bx bx-trash"></i>
                            </a>
                        </th>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <% if (totalPages > 1) { %>
        <nav class="mt-10 flex justify-center">
            <ul class="list-style-none flex">
                <li>
                    <% var previousURL = "?" + new URLSearchParams({ ...filters, page: Number(currentPage) - 1 }).toString() %>
                    
                    <a href="<%= currentPage > 1 ? previousURL : "#" %>"
                        class="<%= currentPage === 1 ? 'pointer-events-none' : '' %> relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface/50 transition duration-300 dark:text-neutral-400">
                        Trang trước
                     </a>
                </li>
                
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <a href="?<%= new URLSearchParams({ ...filters, page: i }).toString() %>"
                       class="<%= currentPage == i ? 'bg-primary text-white' : 'text-black bg-transparent' %> relative block rounded px-3 py-1.5 text-sm text-surface transition duration-300 hover:opacity-80">
                        <%= i %>
                    </a>
                <% } %>
               
                <% var nextURL = "?" + new URLSearchParams({ ...filters, page: Number(currentPage) + 1 }).toString()  %>
                <a href="<%= currentPage < totalPages ? nextURL: '#' %>"
                    class="<%= currentPage === totalPages ? 'pointer-events-none' : '' %> relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface/50 transition duration-300 dark:text-neutral-400">
                     Trang sau
                 </a>
            </ul>
        </nav>
    <% } %>
</div>
