<% if (locals.message && locals.message.length > 0)  { %>
    <div class="mb-5 flex items-center justify-between p-5 leading-normal text-green-600 bg-green-100 rounded-lg" role="alert">
        <p><%= message %></p>
        <button onclick="return this.parentNode.remove();">
            <i class='bx bx-x text-green-600'></i>
        </button>
      </div>
<% } %>

<% if (locals.error && locals.error.length > 0)  { %>
    <div class="mb-5 flex items-center justify-between p-5 leading-normal text-red-600 bg-red-100 rounded-lg" role="alert">
        <p>
            <%= error %>
        </p>

        <button onclick="return this.parentNode.remove();">
            <i class='bx bx-x text-red-600'></i>
        </button>
    </div>
    
<% } %>
<div class="container mt-5">
    <h2 class="text-2xl font-bold mb-4">Danh sách đơn hàng của tôi</h2>
    <ul class="flex justify-between border-b mb-4" id="orderStatusTabs" role="tablist">
        <li class="mr-1">
            <a
                class="text-neutral-700 inline-block py-2 px-4  border-b-2 border-blue-500  hover:border-primary"
                id="all-orders-tab"
                data-toggle="tab"
                href="#all-orders"
                role="tab"
                aria-controls="all-orders"
                aria-selected="true"
                onclick="switchTab(event, 'all-orders')"
                >Tất cả đơn</a
            >
        </li>
        <li class="mr-1">
            <a
                class="text-neutral-700 inline-block py-2 px-4 border-b-2 border-transparent hover:border-primary"
                id="pending-orders-tab"
                data-toggle="tab"
                href="#pending-orders"
                role="tab"
                aria-controls="pending-orders"
                aria-selected="false"
                onclick="switchTab(event, 'pending-orders')"
                >
                <i class='bx bxs-time-five' ></i>
                Chờ xác nhận
                </a
            >
        </li>
        <li class="mr-1">
            <a
                class="text-neutral-700 inline-block py-2 px-4 border-b-2 border-transparent  hover:border-primary"
                id="shipped-orders-tab"
                data-toggle="tab"
                href="#shipped-orders"
                role="tab"
                aria-controls="shipped-orders"
                aria-selected="false"
                onclick="switchTab(event, 'shipped-orders')"
                >
                <i class='bx bxs-truck' ></i> 
                Đang giao
            </a
            >
        </li>
        <li class="mr-1">
            <a
                class="text-neutral-700 inline-block py-2 px-4 border-b-2 border-transparent  hover:border-primary"
                id="delivered-orders-tab"
                data-toggle="tab"
                href="#delivered-orders"
                role="tab"
                aria-controls="delivered-orders"
                aria-selected="false"
                onclick="switchTab(event, 'delivered-orders')"
                ><i class='bx bxs-package' ></i> Đã giao</a
            >
        </li>
        <li class="mr-1">
            <a
                class="text-neutral-700 inline-block py-2 px-4 border-b-2 border-transparent hover:border-primary"
                id="completed-orders-tab"
                data-toggle="tab"
                href="#completed-orders"
                role="tab"
                aria-controls="completed-orders"
                aria-selected="false"
                onclick="switchTab(event, 'completed-orders')"
                ><i class='bx bxs-check-circle' ></i> Hoàn thành</a
            >
        </li>
        <li class="mr-1">
            <a
                class="text-neutral-700 inline-block py-2 px-4  border-b-2 border-transparent hover:border-primary"
                id="cancelled-orders-tab"
                data-toggle="tab"
                href="#cancelled-orders"
                role="tab"
                aria-controls="cancelled-orders"
                aria-selected="false"
                onclick="switchTab(event, 'cancelled-orders')"
                ><i class='bx bxs-x-circle'></i> Đã huỷ</a
            >
        </li>
        <li class="mr-1">
            <a
                class="text-neutral-700 inline-block py-2 px-4 border-b-2 border-transparent hover:border-primary"
                id="refunded-orders-tab"
                data-toggle="tab"
                href="#refunded-orders"
                role="tab"
                aria-controls="refunded-orders"
                aria-selected="false"
                onclick="switchTab(event, 'refunded-orders')"
                ><i class='bx bx-transfer' ></i> Trả/Đổi hàng</a
            >
        </li>
    </ul>
    <div class="tab-content" id="orderStatusTabsContent">
        <div class="tab-pane fade show" id="all-orders" role="tabpanel" aria-labelledby="all-orders-tab">
            <!-- All orders content -->
             
            <div class="space-y-8">
                <% orders.forEach(order => { %>
                    <div class="bg-white shadow-sm rounded-xl p-6 border">
                        <% 
                        var statusOrder = status.findIndex((status) => status._id.equals((order.trangThaiDonHang[order.trangThaiDonHang.length - 1]).maTrangThai));
                        %> 
                        <!-- Trạng thái đơn hàng hiện tại -->
                        <div class="flex items-center space-x-2 mb-4">
                            <% if(statusOrder === 0) { %>
                                <span class="text-sm font-semibold whitespace-nowrap"><%= status[statusOrder].tenTrangThai %></span>
                            <% } else if(statusOrder === 1) { %>
                                <span class="text-sm font-semibold text-teal-500 whitespace-nowrap"><%= status[statusOrder].tenTrangThai %></span>
                            <% } else if(statusOrder === 2) { %>
                                <span class="text-sm font-semibold text-green-500 whitespace-nowrap"><%= status[statusOrder].tenTrangThai %></span>
                            <% } else if(statusOrder === 3) { %>
                                <span class="text-sm font-semibold text-green-500 whitespace-nowrap"><%= status[statusOrder].tenTrangThai %></span>
                            <% } else if(statusOrder === 4) { %>
                                <span class="text-sm font-semibold text-red-500 whitespace-nowrap"><%= status[statusOrder].tenTrangThai %></span>
                            <% } else if(statusOrder === 5 || statusOrder === 6 || statusOrder === 7 || statusOrder === 8) { %>
                                <span class="text-sm font-semibold text-red-500 whitespace-nowrap"><%= status[statusOrder].tenTrangThai %></span>
                            <% }%>
                        </div>
                        <!-- Danh sách chi tiết sản phẩm -->
                        <div class="space-y-4">
                            <% order.chiTietDonHang.forEach(detail => { %>
                                <div class="flex items-center justify-between bg-gray-100 p-4 rounded-lg">
                                    <!-- Hình ảnh sản phẩm -->
                                    <div class="flex items-center space-x-2">
                                        <img src="<%= detail.maSanPham.hinhAnhDaiDien || '/images/no-result.png' %>" alt="" class="w-16 h-16 object-contain rounded-md border border-gray-200">
                                        
                                        <!-- Thông tin sản phẩm -->
                                        <div>
                                            <h3 class="text-sm font-medium text-gray-800"><%= detail.maSanPham.tenSanPham %></h3>
                                            <p class="text-sm font-light">Size: <span class="font-medium text-gray-700"><%= detail.maKichCoSanPham.tenKichCo %></span>, Số lượng: <span class="font-medium text-gray-700"><%= detail.soLuongDaChon %></span></p>
                                        </div>
                                    </div>
                
                                    <!-- Đơn giá -->
                                    <p class="text-neutral-600 font-semibold text-sm">
                                        <%= (detail.giaDaChon * detail.soLuongDaChon).toLocaleString('vi-VN') %>₫
                                    </p>
                                </div>
                            <% }) %>
                        </div>
                        <!-- Thông tin đơn hàng -->
                        <div class="flex justify-between items-center mt-4">
                            <div class="border-gray-200 pb-2 mb-2">
                                <p class="text-gray-500 text-sm mt-1">Ngày đặt hàng: <%= new Date(order.ngayDatHang).toLocaleDateString() %></p>
                            </div>
                            <!-- Tổng tiền của đơn hàng -->
                            <div class="text-right">
                                <p class="text-sm text-neutral-700">Thành tiền: <span class="text-lg font-semibold text-primary"><%= order.chiTietDonHang.reduce((total, detail) => total + detail.giaDaChon * detail.soLuongDaChon, 0).toLocaleString('vi-VN') %>₫</span></p>
                            </div>
                        </div>
                        <!-- Buttons for order actions -->
                        <div class="flex justify-end space-x-4 mt-4">
                            <!-- View Order Details Button -->
                            
                            <%  if (statusOrder === 4) { %>
                                <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md" onclick="viewOrderDetails('<%= order._id %>')">Xem chi tiết huỷ </button>
                                
                            <% } else { %>
                                <button class="px-4 py-2 text-black backdrop-blur-sm border border-black rounded-md hover:shadow-[0px_0px_4px_4px_rgba(0,0,0,0.1)] bg-white/[0.2] text-sm transition duration-200" onclick="viewOrderDetails('<%= order._id %>')">Xem chi tiết </button>
                            <% } %>
                            <!-- Cancel Order Button -->
                            <% if (statusOrder === 0 || statusOrder === 1 ) { %>
                                <button class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded-md" onclick="cancelOrder('<%= order._id %>')">Huỷ đơn hàng </button>
                            <%} else { %> 
                            <% if (statusOrder === 2 ) { %>
                                <button class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded-md" onclick="refundOrder('<%= order._id %>','exchange')">Yêu cầu đổi hàng</button>
                                <button class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded-md" onclick="refundOrder('<%= order._id %>','return')">Yêu cầu trả hàng</button>
                                <button class="bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded-md" onclick="completedOrder('<%= order._id %>')">Hoàn thành</button>
                            <% } } %>
                            <%  if (statusOrder === 5) { %>
                                <% if(order.thongTinDoiTraHang.trangThaiDoiTra =="hoàn thành") { %> 
                                    <button class="bg-green-700 text-white py-2 px-4 rounded-md ">Đổi trả thành công</button>
                                <% } else { %>
                                <button class="bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded-md" onclick="cancelRefundOrder('<%= order._id %>')">Huỷ yêu cầu đổi/trả hàng</button>
                                <% }} %>
                                <%  if (statusOrder === 3) { %>
                                    <%  if(order.daDanhgia === true) { %>

                                        <button class="bg-green-700 text-white py-2 px-4 rounded-md ">Đã đánh giá</button>
                                    <% } else { %>
                                        <button class="bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded-md" onclick="reviewdOrder('<%= order._id %>')">Đánh giá</button>
                                    <% } %>
                                <% } %>
                        </div>          
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="tab-pane fade hidden" id="pending-orders" role="tabpanel" aria-labelledby="pending-orders-tab">
            <!-- Pending orders content -->
            <div class="space-y-8">
                <% pendingOrders.forEach(order => { %>
                    <div class="bg-white shadow-sm rounded-xl p-6 border">
                        <!-- Danh sách chi tiết sản phẩm -->
                        <!-- <span class="text-sm font-semibold text-yellow-500 mb-4 block">Chờ xác nhận</span> -->
                        <div class="space-y-4">
                            <% order.chiTietDonHang.forEach(detail => { %>
                                <div class="flex items-center justify-between bg-gray-100 p-4 rounded-lg">
                                    <!-- Hình ảnh sản phẩm -->
                                    <div class="flex items-center space-x-2">
                                        <img src="<%= detail.maSanPham.hinhAnhDaiDien || '/images/no-result.png' %>" alt="" class="w-16 h-16 object-contain rounded-md border border-gray-200">
                                        
                                        <!-- Thông tin sản phẩm -->
                                        <div>
                                            <h3 class="text-sm font-medium text-gray-800"><%= detail.maSanPham.tenSanPham %></h3>
                                            <p class="text-sm font-light">Size: <span class="font-medium text-gray-700"><%= detail.maKichCoSanPham.tenKichCo %></span>, Số lượng: <span class="font-medium text-gray-700"><%= detail.soLuongDaChon %></span></p>
                                        </div>
                                    </div>
                
                                    <!-- Đơn giá -->
                                    <p class="text-neutral-600 font-semibold text-sm">
                                        <%= (detail.giaDaChon * detail.soLuongDaChon).toLocaleString('vi-VN') %>₫
                                    </p>
                                </div>
                            <% }) %>
                        </div>
                        <!-- Thông tin đơn hàng -->
                        <div class="flex justify-between items-center mt-4">
                            <div class="border-gray-200 pb-2 mb-2">
                                <p class="text-gray-500 text-sm mt-1">Ngày đặt hàng: <%= new Date(order.ngayDatHang).toLocaleDateString() %></p>
                            </div>
                            <!-- Tổng tiền của đơn hàng -->
                            <div class="text-right">
                                <p class="text-sm text-neutral-700">Thành tiền: <span class="text-lg font-semibold text-primary"><%= order.chiTietDonHang.reduce((total, detail) => total + detail.giaDaChon * detail.soLuongDaChon, 0).toLocaleString('vi-VN') %>₫</span></p>
                            </div>
                        </div>
                        <!-- Buttons for order actions -->
                        <div class="flex justify-end space-x-4 mt-4">
                            <!-- View Order Details Button -->
                            <button class="px-4 py-2 text-black backdrop-blur-sm border border-black rounded-md hover:shadow-[0px_0px_4px_4px_rgba(0,0,0,0.1)] bg-white/[0.2] text-sm transition duration-200" onclick="viewOrderDetails('<%= order._id %>')">Xem chi tiết</button>
                            <!-- Cancel Order Button -->
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="cancelOrder('<%= order._id %>')">Huỷ đơn hàng</button>
                        </div>          
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="tab-pane fade hidden" id="shipped-orders" role="tabpanel" aria-labelledby="shipped-orders-tab">
            <!-- Shipped orders content -->
            <div class="space-y-8">
                <% shippedOrders.forEach(order => { %>
                    <div class="bg-white shadow-sm rounded-xl p-6 border">
                        <!-- <span class="text-sm font-semibold text-teal-500">Đang giao</span> -->

                        <!-- Danh sách chi tiết sản phẩm -->
                        <div class="space-y-4">
                            <% order.chiTietDonHang.forEach(detail => { %>
                                <div class="flex items-center justify-between bg-gray-100 p-4 rounded-lg">
                                    <!-- Hình ảnh sản phẩm -->
                                    <div class="flex items-center space-x-2">
                                        <img src="<%= detail.maSanPham.hinhAnhDaiDien || '/images/no-result.png' %>" alt="" class="w-16 h-16 object-contain rounded-md border border-gray-200">
                                        
                                        <!-- Thông tin sản phẩm -->
                                        <div>
                                            <h3 class="text-sm font-medium text-gray-800"><%= detail.maSanPham.tenSanPham %></h3>
                                            <p class="text-sm font-light">Size: <span class="font-medium text-gray-700"><%= detail.maKichCoSanPham.tenKichCo %></span>, Số lượng: <span class="font-medium text-gray-700"><%= detail.soLuongDaChon %></span></p>
                                        </div>
                                    </div>
                
                                    <!-- Đơn giá -->
                                    <p class="text-neutral-600 font-semibold text-sm">
                                        <%= (detail.giaDaChon * detail.soLuongDaChon).toLocaleString('vi-VN') %>₫
                                    </p>
                                </div>
                            <% }) %>
                        </div>
                        <!-- Thông tin đơn hàng -->
                        <div class="flex justify-between items-center mt-4">
                            <div class="border-gray-200 pb-2 mb-2">
                                <p class="text-gray-500 text-sm mt-1">Ngày đặt hàng: <%= new Date(order.ngayDatHang).toLocaleDateString() %></p>
                            </div>
                            <!-- Tổng tiền của đơn hàng -->
                            <div class="text-right">
                                <p class="text-sm text-neutral-700">Thành tiền: <span class="text-lg font-semibold text-primary"><%= order.chiTietDonHang.reduce((total, detail) => total + detail.giaDaChon * detail.soLuongDaChon, 0).toLocaleString('vi-VN') %>₫</span></p>
                            </div>
                        </div>
                        <!-- Buttons for order actions -->
                        <div class="flex justify-end space-x-4 mt-4">
                            <!-- View Order Details Button -->
                            <button class="px-4 py-2 text-black backdrop-blur-sm border border-black rounded-md hover:shadow-[0px_0px_4px_4px_rgba(0,0,0,0.1)] bg-white/[0.2] text-sm transition duration-200" onclick="viewOrderDetails('<%= order._id %>')">Xem chi tiết</button>
                            <!-- Cancel Order Button -->
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="cancelOrder('<%= order._id %>')">Huỷ đơn hàng</button>
                        </div>          
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="tab-pane fade hidden" id="delivered-orders" role="tabpanel" aria-labelledby="delivered-orders-tab">
            <!-- Delivered orders content -->
            <div class="space-y-8">
                <% deliveredOrders.forEach(order => { %>
                    <div class="bg-white shadow-sm rounded-xl p-6 border">
                        <!-- <span class="text-sm font-semibold text-green-500">Đã giao</span> -->
                        <!-- Danh sách chi tiết sản phẩm -->
                        <div class="space-y-4">
                            <% order.chiTietDonHang.forEach(detail => { %>
                                <div class="flex items-center justify-between bg-gray-100 p-4 rounded-lg">
                                    <!-- Hình ảnh sản phẩm -->
                                    <div class="flex items-center space-x-2">
                                        <img src="<%= detail.maSanPham.hinhAnhDaiDien || '/images/no-result.png' %>" alt="" class="w-16 h-16 object-contain rounded-md border border-gray-200">
                                        
                                        <!-- Thông tin sản phẩm -->
                                        <div>
                                            <h3 class="text-sm font-medium text-gray-800"><%= detail.maSanPham.tenSanPham %></h3>
                                            <p class="text-sm font-light">Size: <span class="font-medium text-gray-700"><%= detail.maKichCoSanPham.tenKichCo %></span>, Số lượng: <span class="font-medium text-gray-700"><%= detail.soLuongDaChon %></span></p>
                                        </div>
                                    </div>
                
                                    <!-- Đơn giá -->
                                    <p class="text-neutral-600 font-semibold text-sm">
                                        <%= (detail.giaDaChon * detail.soLuongDaChon).toLocaleString('vi-VN') %>₫
                                    </p>
                                </div>
                            <% }) %>
                        </div>
                        <!-- Thông tin đơn hàng -->
                        <div class="flex justify-between items-center mt-4">
                            <div class="border-gray-200 pb-2 mb-2">
                                <p class="text-gray-500 text-sm mt-1">Ngày đặt hàng: <%= new Date(order.ngayDatHang).toLocaleDateString() %></p>
                            </div>
                            <!-- Tổng tiền của đơn hàng -->
                            <div class="text-right">
                                <p class="text-sm text-neutral-700">Thành tiền: <span class="text-lg font-semibold text-primary"><%= order.chiTietDonHang.reduce((total, detail) => total + detail.giaDaChon * detail.soLuongDaChon, 0).toLocaleString('vi-VN') %>₫</span></p>
                            </div>
                        </div>
                        <!-- Buttons for order actions -->
                        <div class="flex justify-end space-x-4 mt-4">
                            <!-- View Order Details Button -->
                            <button class="px-4 py-2 text-black backdrop-blur-sm border border-black rounded-md hover:shadow-[0px_0px_4px_4px_rgba(0,0,0,0.1)] bg-white/[0.2] text-sm transition duration-200" onclick="viewOrderDetails('<%= order._id %>')">Xem chi tiết</button>
                            <!-- Cancel Order Button -->
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-md" onclick="refundOrder('<%= order._id %>','exchange')">Yêu cầu đổi hàng</button>
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-md" onclick="refundOrder('<%= order._id %>','return')">Yêu cầu trả hàng</button>
                            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" onclick="completedOrder('<%= order._id %>')">Hoàn thành</button>
                        </div>          
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="tab-pane fade hidden" id="completed-orders" role="tabpanel" aria-labelledby="completed-orders-tab">
            <!-- Completed orders content -->
            <div class="space-y-8">
                <% completedOrders.forEach(order => { %>
                    <div class="bg-white shadow-sm rounded-xl p-6 border">
                        <!-- <span class="text-sm font-semibold text-green-500">Hoàn thành</span> -->
                        <!-- Danh sách chi tiết sản phẩm -->
                        <div class="space-y-4">
                            <% order.chiTietDonHang.forEach(detail => { %>
                                <div class="flex items-center justify-between bg-gray-100 p-4 rounded-lg">
                                    <!-- Hình ảnh sản phẩm -->
                                    <div class="flex items-center space-x-2">
                                        <img src="<%= detail.maSanPham.hinhAnhDaiDien || '/images/no-result.png' %>" alt="" class="w-16 h-16 object-contain rounded-md border border-gray-200">
                                        
                                        <!-- Thông tin sản phẩm -->
                                        <div>
                                            <h3 class="text-sm font-medium text-gray-800"><%= detail.maSanPham.tenSanPham %></h3>
                                            <p class="text-sm font-light">Size: <span class="font-medium text-gray-700"><%= detail.maKichCoSanPham.tenKichCo %></span>, Số lượng: <span class="font-medium text-gray-700"><%= detail.soLuongDaChon %></span></p>
                                        </div>
                                    </div>
                
                                    <!-- Đơn giá -->
                                    <p class="text-neutral-600 font-semibold text-sm">
                                        <%= (detail.giaDaChon * detail.soLuongDaChon).toLocaleString('vi-VN') %>₫
                                    </p>
                                </div>
                            <% }) %>
                        </div>
                        <!-- Thông tin đơn hàng -->
                        <div class="flex justify-between items-center mt-4">
                            <div class="border-gray-200 pb-2 mb-2">
                                <p class="text-gray-500 text-sm mt-1">Ngày đặt hàng: <%= new Date(order.ngayDatHang).toLocaleDateString() %></p>
                            </div>
                            <!-- Tổng tiền của đơn hàng -->
                            <div class="text-right">
                                <p class="text-sm text-neutral-700">Thành tiền: <span class="text-lg font-semibold text-primary"><%= order.chiTietDonHang.reduce((total, detail) => total + detail.giaDaChon * detail.soLuongDaChon, 0).toLocaleString('vi-VN') %>₫</span></p>
                            </div>
                        </div>
                        <!-- Buttons for order actions -->
                        <div class="flex justify-end space-x-4 mt-4">
                            <!-- View Order Details Button -->
                            <button class="px-4 py-2 text-black backdrop-blur-sm border border-black rounded-md hover:shadow-[0px_0px_4px_4px_rgba(0,0,0,0.1)] bg-white/[0.2] text-sm transition duration-200" onclick="viewOrderDetails('<%= order._id %>')">Xem chi tiết</button>
                            <%  if(order.daDanhgia === true) { %>

                                <button class="bg-green-700 text-white font-bold py-2 px-4 rounded ">Đã đánh giá</button>
                            <% } else { %>
                                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-md" onclick="reviewdOrder('<%= order._id %>')">Đánh giá</button>
                            <% } %>

                            <!-- Cancel Order Button -->
                        </div>          
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="tab-pane fade hidden" id="cancelled-orders" role="tabpanel" aria-labelledby="cancelled-orders-tab">
            <!-- Cancelled orders content -->
            <div class="space-y-8">
                <% cancelOrders.forEach(order => { %>
                    <div class="bg-white shadow-sm rounded-xl p-6 border">
                        
                        <!-- Danh sách chi tiết sản phẩm -->
                        <div class="space-y-4">
                            <% order.chiTietDonHang.forEach(detail => { %>
                                <div class="flex items-center justify-between bg-gray-100 p-4 rounded-lg">
                                    <!-- Hình ảnh sản phẩm -->
                                    <div class="flex items-center space-x-2">
                                        <img src="<%= detail.maSanPham.hinhAnhDaiDien || '/images/no-result.png' %>" alt="" class="w-16 h-16 object-contain rounded-md border border-gray-200">
                                        
                                        <!-- Thông tin sản phẩm -->
                                        <div>
                                            <h3 class="text-sm font-medium text-gray-800"><%= detail.maSanPham.tenSanPham %></h3>
                                            <p class="text-sm font-light">Size: <span class="font-medium text-gray-700"><%= detail.maKichCoSanPham.tenKichCo %></span>, Số lượng: <span class="font-medium text-gray-700"><%= detail.soLuongDaChon %></span></p>
                                        </div>
                                    </div>
                
                                    <!-- Đơn giá -->
                                    <p class="text-neutral-600 font-semibold text-sm">
                                        <%= (detail.giaDaChon * detail.soLuongDaChon).toLocaleString('vi-VN') %>₫
                                    </p>
                                </div>
                            <% }) %>
                        </div>
                        <!-- Thông tin đơn hàng -->
                        <div class="flex justify-between items-center mt-4">
                            <div class="border-gray-200 pb-2 mb-2">
                                <p class="text-gray-500 text-sm mt-1">Ngày đặt hàng: <%= new Date(order.ngayDatHang).toLocaleDateString() %></p>
                            </div>
                            <!-- Tổng tiền của đơn hàng -->
                            <div class="text-right">
                                <p class="text-sm text-neutral-700">Thành tiền: <span class="text-lg font-semibold text-primary"><%= order.chiTietDonHang.reduce((total, detail) => total + detail.giaDaChon * detail.soLuongDaChon, 0).toLocaleString('vi-VN') %>₫</span></p>
                            </div>
                        </div>
                        <!-- Buttons for order actions -->
                        <div class="flex justify-end space-x-4 mt-4">
                            <!-- View Order Details Button -->
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="viewOrderDetails('<%= order._id %>')">Xem chi tiết huỷ</button>
                        </div>          
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="tab-pane fade hidden" id="refunded-orders" role="tabpanel" aria-labelledby="refunded-orders-tab">
            <!-- Refunded orders content -->
            <div class="space-y-8">
                <% refundOrders.forEach(order => { %>
                        
                    <div class="bg-white shadow-sm rounded-xl p-6 border">
                        <% if(order.thongTinDoiTraHang.trangThaiDoi) { %>
                            <span class="text-sm font-semibold text-red-500">Đổi hàng:</span>
                        <% } else { %>
                            <span class="text-sm font-semibold text-red-500">Trả hàng:</span>
                        <% } %>
                        <% if(order.thongTinDoiTraHang.trangThaiDoiTra =="hoàn thành") { %>
                            <span class="text-sm font-semibold text-green-500"><%= order.thongTinDoiTraHang.trangThaiDoiTra %></span>
                        <% } else { %>
                            <span class="text-sm font-semibold text-red-500"><%= order.thongTinDoiTraHang.trangThaiDoiTra %></span>
                        <% } %>

                        <!-- Danh sách chi tiết sản phẩm -->
                        <div class="space-y-4">
                            <%  if( order.thongTinDoiTraHang) { %>
                                <% order.thongTinDoiTraHang.chiTietDoiTraHang.forEach(detail => { %>
                                   
                                <div class="flex items-center justify-between bg-gray-100 p-4 rounded-lg">
                                <!-- Hình ảnh sản phẩm -->
                                <div class="flex items-center space-x-2">
                                    <img src="<%= detail.maSanPham.hinhAnhDaiDien || '/images/no-result.png' %>" alt="" class="w-16 h-16 object-contain rounded-md border border-gray-200">
                                    
                                    <!-- Thông tin sản phẩm -->
                                    <div>
                                        <h3 class="text-sm font-medium text-gray-800"><%= detail.maSanPham.tenSanPham %></h3>
                                        <p class="text-sm font-light">Size: <span class="font-medium text-gray-700"><%= detail.maKichCoSanPham.tenKichCo %></span>, Số lượng: <span class="font-medium text-gray-700"><%= detail.soLuongDaChon %></span></p>
                                    </div>
                                </div>
            
                                <!-- Đơn giá -->
                                <p class="text-neutral-600 font-semibold text-sm">
                                    <%= (detail.giaDaChon * detail.soLuongDaChon).toLocaleString('vi-VN') %>₫
                                </p>
                            </div> 
                                <% })} %>
                        </div>
                        <!-- Thông tin đơn hàng -->
                        <div class="flex justify-between items-center mt-4">
                            <div class="border-gray-200 pb-2 mb-2">
                                <p class="text-gray-500 text-sm mt-1">Ngày đặt hàng: <%= new Date(order.ngayDatHang).toLocaleDateString() %></p>
                            </div>
                            <!-- Tổng tiền của đơn hàng -->
                            <div class="text-right">
                                <p class="text-sm text-neutral-700">Thành tiền: <span class="text-lg font-semibold text-primary"><%= (order.chiTietDonHang.reduce((total, detail) => total + detail.giaDaChon * detail.soLuongDaChon, 0)).toLocaleString('vi-VN') %>₫</span></p>
                            </div>
                        </div>
                        <!-- Buttons for order actions -->
                        <div class="flex justify-end space-x-4 mt-4">
                            <!-- View Order Details Button -->
                            <button class="px-4 py-2 text-black backdrop-blur-sm border border-black rounded-md hover:shadow-[0px_0px_4px_4px_rgba(0,0,0,0.1)] bg-white/[0.2] text-sm transition duration-200" onclick="viewOrderDetails('<%= order._id %>')">Xem chi tiết </button>
                            <% if(order.statusOrder == 5) { %>
                                <% if(order.thongTinDoiTraHang.trangThaiDoiTra =="hoàn thành") { %> 
                                    <button class="bg-green-700 text-white font-bold py-2 px-4 rounded ">Đổi trả thành công</button>
                                <% } else { %>
                                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" onclick="cancelRefundOrder('<%= order._id %>')">Huỷ yêu cầu đổi/trả hàng</button>
                                <% } %>
                            <% } %>
                            <!-- Cancel Order Button -->
                        </div>          
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="confirmationModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white rounded-lg shadow-lg p-6 w-1/3">
        <h3 class="text-lg font-semibold mb-4">Xác nhận</h3>
        <p id="confirmationMessage" class="mb-4">Bạn có chắc chắn muốn thực hiện hành động này không?</p>
        <div class="flex justify-end space-x-4">
            <button id="confirmButton" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-md">Xác nhận</button>
            <button id="cancelButton" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-md">Huỷ</button>
        </div>
    </div>
</div>

<script>
    function showModal(message, onConfirm) {
        document.getElementById('confirmationMessage').innerText = message;
        document.getElementById('confirmationModal').classList.remove('hidden');
        document.getElementById('confirmButton').onclick = function() {
            onConfirm();
            hideModal();
        };
        document.getElementById('cancelButton').onclick = hideModal;
    }

    function hideModal() {
        document.getElementById('confirmationModal').classList.add('hidden');
    }

    function cancelOrder(orderId) {
        showModal('Bạn có chắc chắn muốn huỷ đơn hàng này không?', function() {
            window.location.href = '/order/cancel/' + orderId;
        });
    }

    function refundOrder(orderId,type) {
        showModal('Bạn có chắc chắn muốn trả hàng cho đơn hàng này không?', function() {
            window.location.href = '/order/refundRequest/' + orderId + '?type='+type;
        });
    }
    function reviewdOrder(orderId) {
        window.location.href = '/user/order/review/' + orderId;
    }
    function cancelRefundOrder(orderId) {
        showModal('Bạn có chắc chắn muốn huỷ trả hàng cho đơn hàng này không?', function() {
            window.location.href = '/order/cancelRefund/' + orderId;
        });
    }

    function completedOrder(orderId) {
        showModal('Bạn có chắc chắn muốn hoàn thành đơn hàng này không?', function() {
            window.location.href = '/order/completed/' + orderId;
        });
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script>
    const formatVNCurrency = (value) => {
        return value.toLocaleString("vi-VN", {
            style: "currency",
            currency: "VND",
        });
    };
    
    function viewOrderDetails(orderId) {
        window.location.href = '/user/order/' + orderId;
    }
    
    
    function switchTab(event, tabId) {
        event.preventDefault();
        document.querySelectorAll('.tab-pane').forEach(tab => {
            tab.classList.remove('show');
            tab.classList.add('hidden');
        });
        document.querySelectorAll('[data-toggle="tab"]').forEach(tab => {
           
            tab.classList.add('border-transparent');
            tab.classList.remove('border-primary');
        });

        document.getElementById(tabId).classList.add('show');
        document.getElementById(tabId).classList.remove('hidden');
        document.getElementById(tabId).classList.add('show');
        event.currentTarget.classList.add('border-primary');
        event.currentTarget.classList.remove('border-transparent');
    }
</script>
