<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= typeof title !== 'undefined' ? title : 'Default Title' %></title>

        <%- include("../partials/import-meta.ejs", { page: page }) %> <%- include('../partials/tailwind-config.ejs') %>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>

        <main>
            <!-- Nội dung của trang cụ thể sẽ được render tại đây -->
            <%- body %>
        </main>

        <!-- Import footer từ partials -->
        <%- include('../partials/footer.ejs') %>
        <script src="/js/main.js"></script>
        <%- script %>
    </body>
</html>
